.post{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,00,0.68);
    box-shadow: 0px 0px 16px -8px rgba(0,00,0.68);
    margin: 30px 0;
}
.postWrapper{
    padding: 10px;
}

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postProfileImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postTopLeft{
    display: flex;
    align-items: center;
    
}

.postUsername{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}
.postDate{
    font-size: 12px;
}

.postCenter{
    margin: 20px 0;
}
.postImage{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomRight{
    display: flex;
    align-items: center;
}

.likeIcon{
    width: 35px;
    height: 35px;
    margin-right: 5px;
    cursor: pointer;
}
.likeIconImg{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    cursor: pointer;
}

.likeCounter{
    font-size: 15px;
}

.postComments{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}